@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
/*base*/
body{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
	min-width:320px;
}
.container{
	max-width:1140px;
	margin:0 auto;
}
h2{
	font-weight:400;
	font-size:36px;
	line-height:46px;
	letter-spacing:0.05em;
	margin:0 0 32px;
}
/*header*/
.topheader .container{
	display:flex;
	padding:37px 0;
	width:1140px;
	margin:0 113px;
	justify-content:space-between;
}
.bottomheader{
	height:249px;
	background:#3481D7;
	border-bottom:1px solid #3481D7;
}
.bottomheader .container p{
	color:rgba(255, 255, 255, 0.6);
	text-align:center;
	font-size:20px;
}
.bottomheader .container {
	color:#fff;
	text-align:center;
	padding:50px 0;
}
.phone .number{
	line-height:16px;
}
.phone .number::before{
	content: "";
	position: absolute;
	left: 50px;
	top: 50px;
	width: 24px;
	height: 24px;
	background-image: url('ic_phone_24px.png');
}
main{
	display:flex;
}
.contacts{
	color:#1F3F68;
	padding:135px 101px 150px  212px;
}
.copacity{
	opacity:0.6;
}
.contacts span{
	height:26px;
	vertical-align:middle;
}
form{
	height:686px;
	width:426px;
	border:1px solid black;
	padding:56px;
	margin:57px 0 0;
	border-radius: 10px;
	box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
}
.fname,.fmail{
	height:72px;
	width:428px;
	border-radius: 10px;
}
.fmessage{
	height:144px;
	width:428px;
	border-radius: 10px;
}
form button{
	height:72px;
	width:432px;
	margin:72px 0 0;
	border-radius: 10px;
}
/*footer*/
footer{
	background:#316099;
	color:#fff;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
}
.topfooter{
	padding:90px 0 95px;
	border-bottom:1px solid rgba(255,255,255,.4);
}
.topfooter .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footertxt{
	width:500px;
}
footer button{
	background:#5A98D0;
	height:60px;
	width:240px;
	color:#fff;
	border:none;
	font-size:inherit;
	letter-spacing: 0.05em;
	cursor:pointer;
}
.footertxt>div{
	opacity:0.6;
}
/*ol.container {
	display:flex;
	list-style-type:upper-alpha;
	gap:32px;
}
ol.container li{
	flex:1 1 320 px;
	padding-left:40px;
}
.bottomfooter{
	color: #FFF;
	opacity: 0.4;
	padding:0 0 64px;
}*/
.middlefooter .container {
	display: flex;
	gap: 160px;
	padding: 64px 0;
}
.middlefooter span {
	display:block;
	flex: 1 1 320px;
	padding: 0 0 0 40px;
	position: relative;
}
.middlefooter span::before {
	position: absolute;
	left: 0;
	top: 0;
	content: 'T.';
}
.middlefooter span:first-child::before {
	content: 'A.';
}
.middlefooter span:last-child::before {
	content: 'E.';
}
.bottomfooter {
	opacity: 0.4;
	padding: 0 0 64px;
}
/*планшентный вид*/
/*@media (max-width:1200px){
	.container{
		max-width:800px;
	}
	.middlefooter .container {
	gap: 80px;
	}
	.middlefooter span {
	padding: 0 0 0 25px;
	}
	.footertxt{
		width:400px;
	}
	footer button{
		width:200px;
		height:40px;
	}
}
@media (max-width:860px){
	.container {
		max-width:520px;
	}
	.topfooter{
	padding:50px 0 60px;	
	}
	.footertxt{
		width:340px;
	}
	footer button{
		width:130px;
		height:30px;
	}
	
	.middlefooter .container{
		display:block;
	}
	.middlefooter span{
		padding:0 0 24px 60px;
	}
	.middlefooter span:last-child{
		padding:0 0 0 60px;
	}
}
/*мобильный вид*/
/*@media(max-width:550px){
	.container{
		max-width:515px;
		padding:0 15px;
	}
	.middlefooter .container{
		padding:64px 15px;
	}

}
@media(max-width:375px){
	.container{
		max-width:345px;
		padding:0 15px;
	}
	.topfooter .container{
		padding:18px 0 15px;
		flex-direction:column;
		text-align:center;
	}
	footer button{
		margin:32px 0 0;
		width:108px;
		height:30px;
	}
	
	.middlefooter .container{
		padding:32px 15px;
	}
	.bottomfooter .container{
		padding:32px 15px;
		text-align:center;
	}
}*/